.app{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 760px;
    height: 760px;
    
}

.grid-box{
    border: 1px solid rgb(177, 177, 177);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.grid-box.activated{
    background-color: aqua;
}
